@charset "utd-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: black;
    text-decoration: none;
}

h1{
    text-align: center;
    margin:40px 0 100px;
}
.wrap{
    width: 100%;
    /* background-color: aqua; */
}
.card{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        /* background-color: aqua; */
}
.card li{
    width: 260px;
    padding: 10px 10px 25px;
    margin: 10px 0 20px;
    display: flex;
    background-color: white;
    border:1px solid #99999970;
}
.card li a{
gap: 20px;
    display: flex;
        flex-direction: column;
        flex-wrap: wrap;
}
.card li a img{
    width: 100%;
}
.text-box{
    gap: 10px;
    display: flex;
        flex-direction: column;
}
.text-box p{
    font-size: 14px;
}
.text-box h5{
    color: rgb(221, 0, 0);
}

@media  all and (max-width:768px) {
    .card li{
        width: 230px;
    }
}
@media  all and (max-width:320px) {
    h1{
        font-size: 20px;
        margin: 20px 10px 10px;
    }
    .card li{
        width: 150px;
        margin: 15px 0 5px;
        padding: 4px 4px 8px;
    }
    .card li a{
    gap: 8px;
    }
    .text-box{
        gap: 5px;
    }
    .text-box h3{
        font-size: 15px;
    }
    .text-box p{
        font-size: 13px;
    }
    }


